<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>
</head>
 {% load static %}
    <link rel="stylesheet" href="{% static 'css/anime.css' %}">
<body>
<a href="{% url 'animeadd' %}"><h1 >ADD</h1></a>

<div class="containers">

{% for anime in anime %}
<div class="column" >
                <div class="box">
                            <div class="row" >
                                <div class="column" >
                                    <div class="imgbox">
                                    <img src="{{anime.image}}"  width="200" height="300" >
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>{{ anime.title }}</h3>
                                    <br>
                                    <h3>Rating:</h3>
                                    <p>{{ anime.rating }}</p>
                                    <h3>start date:</h3>
                                    <p>{{ anime.startdate }}/{{ anime.startmonth }}/{{ anime.get_startyear_display }}</p>
                                    <h3>End date:</h3>
                                    <p>{{ anime.enddate }}/{{ anime.endmonth }}/{{ anime.get_endyear_display }}</p>
                                    <h3>episodes:</h3>
                                    <p>{{ anime.episode }}</p>
                                </div>
                            </div>
                </div>

        </div>
{% endfor %}
</div>


</body>
</html>