<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .row{
            margin-top: 100px;
            margin-bottom: 100px;
        }

    </style>
</head>
 {% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/anime.css' %}">
<body>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"><i class="fa fa-bars"></i></a>
    <a href="{% url 'base' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{% url 'animeyear' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Anime</a>
    <a href="{% url 'movieyear' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Movie</a>
    <a href="{% url 'gameyear' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Game</a>
      <a href="{% url 'manga' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Manga</a>
       <a href="{% url 'book' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Book</a>
      <a href="{% url 'drawingyear' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Drawing</a>
    </div>
  </div>
</div>

<a href="{% url 'animeadd' %}"><h1 >ADD</h1></a>

<div class="containers">

{% for result in results %}
<div class="column" >
                <div class="box">
                            <div class="row" >
                                <div class="column" >
                                    <div class="imgbox">
                                    <img src="{{result.image}}"  width="200" height="300" >
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>{{ result.title }}</h3>
                                    <br>
                                    <h3>Rating:</h3>
                                    <p>{{ result.rating }}</p>
                                    <h3>start date:</h3>
                                    <p>{{ result.startdate }}/{{ result.startmonth }}/{{ result.startyear }}</p>
                                    <h3>End date:</h3>
                                    <p>{{ result.enddate }}/{{ result.endmonth }}/{{ result.get_endyear_display }}</p>
                                    <h3>episodes:</h3>
                                    <p>{{ result.episode }}</p>
                                    <a href="#"><button>edit</button></a>
                                </div>
                            </div>
                </div>

        </div>
{% endfor %}
</div>


</body>
</html>