<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/animeyear.css' %}">
</head>

<body>
    <a href="{% url 'anime' pk=2019 %}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        2019
    </a>
    <a href="{% url 'anime' pk=2020 %}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        2020
    </a>


</body>
</html>