<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/anime.css' %}">
    <style>
        .row{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>
</head>

<body>
<a href="{% url 'movieadd' %}"><h1 >ADD</h1></a>

<div class="containers">

{% for result in results %}
<div class="column" >
                <div class="box">
                            <div class="row" >
                                <div class="column" >
                                    <div class="imgbox">
                                    <img src="{{result.image}}"  width="200" height="300" >
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>{{ result.title }}</h3>
                                    <br>
                                    <h3>Rating:</h3>
                                    <p>{{ result.rating }}</p>
                                    <h3>watch date:</h3>
                                    <p>{{ result.date }}/{{ result.month }}/{{ result.year }}</p>
                                </div>
                            </div>
                </div>

        </div>
{% endfor %}
</div>


</body>
</html>