<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/moviesyear.css' %}">
</head>

<body>
    <a href="{% url 'movie' pk=2020 %}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        2020
    </a>
    <a href="{% url 'movie' pk=2021 %}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        2021
    </a>


</body>
</html>